<div class="main">
        <section class="signup">
            <div class="container box-shadow">
                <div class="card">
                    <div class="card-header">
                        <!-- Crear cuenta de estudiante -->
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                               <span class="title_activate_account">Se ha activado su cuenta de forma exitosa !!</span>
                               <span class="login_ "><a routerLink="/login" class="signup-image-link">Ingresar</a>
                               </span>
                            </div>
                            <div class="col-sm-6 ">
                                <figure><img src="../../../assets/images/activate_account2.png" alt="sing up image"></figure>
                                <!-- <a routerLink="/login" class="signup-image-link">Ya tengo con una cuenta</a> -->
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
    </div>
    