<div class="main">
    <section class="signup">
        <div class="container box-shadow">
            <div class="card">
                <div class="card-header">
                    Crear cuenta de estudiante
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <form [formGroup]="templateForm" (ngSubmit)="onSubmit()" class="form-horizontal no-border">
                                <div class="form-group text-left">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="text" formControlName="no_employee" 
                                            class="form-control input-sm capitalize" 
                                            [ngClass]="{'is-invalid': submitted && f.no_employee.errors }"
                                            placeholder="No de empleado">
                                            <div *ngIf="submitted && f.no_employee.errors" class="invalid-feedback">
                                                <div *ngIf="f.no_employee.errors.required">Este campo es obligatorio.</div>
                                                <!-- <div *ngIf="f.no_employee.errors.minlength">Se requiere como mínimo 12 caracteres.</div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             
                                <div class="form-group text-left ">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <input type="text" formControlName="name" 
                                            class="form-control input-sm capitalize" 
                                            [ngClass]="{'is-invalid': submitted && f.name.errors }"
                                            placeholder="Nombre(s)">
                                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                                <div *ngIf="f.name.errors.required">Este campo es obligatorio.</div>
                                                <!-- <div *ngIf="f.no_employee.errors.minlength">Se requiere como mínimo 12 caracteres.</div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-left">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <input type="text" formControlName="surname" 
                                            class="form-control input-sm capitalize" 
                                            [ngClass]="{'is-invalid': submitted && f.surname.errors }"
                                            placeholder="Apellido(s)">
                                            <div *ngIf="submitted && f.surname.errors" class="invalid-feedback">
                                                <div *ngIf="f.surname.errors.required">Este campo es obligatorio.</div>
                                                <!-- <div *ngIf="f.no_employee.errors.minlength">Se requiere como mínimo 12 caracteres.</div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-left">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <input type="text" formControlName="email" 
                                            class="form-control input-sm capitalize" 
                                            [ngClass]="{'is-invalid': submitted && f.email.errors }"
                                            placeholder="correo electrónico">
                                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                                <div *ngIf="f.email.errors.required">Este campo es obligatorio.</div>
                                                <div *ngIf="f.email.errors.email">Debe ser un correo electrónico válido.</div>
                                                <!-- <div *ngIf="f.no_employee.errors.minlength">Se requiere como mínimo 12 caracteres.</div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="form-group text-center" style="margin: 0px !important; padding: 0px !important;">
                                    <div class="row">
                                        <div class="col-md-8">
                                            y/ó
                                        </div>
                                    </div>
                                </div> -->
                                <div class="form-group text-left">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <input type="text" formControlName="cellphone" 
                                            class="form-control input-sm capitalize" 
                                            [ngClass]="{'is-invalid': submitted && f.cellphone.errors }"
                                            placeholder="Número celular">
                                            <div *ngIf="submitted && f.cellphone.errors" class="invalid-feedback">
                                                <div *ngIf="f.cellphone.errors.required">Este campo es obligatorio.</div>
                                                <!-- <div *ngIf="f.no_employee.errors.minlength">Se requiere como mínimo 12 caracteres.</div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-left">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <input type="password" formControlName="password" 
                                            class="form-control input-sm capitalize" 
                                            [ngClass]="{'is-invalid': submitted && f.password.errors }"
                                            placeholder="Contraseña">
                                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                                <div *ngIf="f.password.errors.required">Este campo es obligatorio.</div>
                                                <div *ngIf="f.password.errors.minlength">La contraseña debe tener entre 8 y 15 caracteres, con al menos una mayúscula y un número.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-left">
                                    <div class="row">
                                        <div class="col-md-8">
                                                <input type="checkbox" 
                                                    formControlName="terms"
                                                    [ngClass]="{'is-invalid': submitted && f.terms.errors }" 
                                                    >
                                                <label for="agree-term" class="label-agree-term">
                                                    <span></span> 
                                                    Acepto los 
                                                    <a href="#" class="term-service text-primary">Términos de servicio</a>
                                                </label>
                                                <div *ngIf="submitted && f.terms.errors" class="invalid-feedback">
                                                    <div *ngIf="f.terms.errors.required">Este campo es obligatorio.</div>
                                                    <!-- <div *ngIf="f.no_employee.errors.minlength">Se requiere como mínimo 12 caracteres.</div> -->
                                                </div>
                                            <!-- <input type="text" formControlName="cellphone" 
                                            class="form-control input-sm capitalize" 
                                            [ngClass]="{'is-invalid': submitted && f.cellphone.errors }"
                                            placeholder="Número celular">
                                            <div *ngIf="submitted && f.cellphone.errors" class="invalid-feedback">
                                                <div *ngIf="f.cellphone.errors.required">Este campo es obligatorio.</div>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="form-group text-left">
                                    <input type="checkbox" name="agree-term" id="agree-term" class="agree-term">
                                    <label for="agree-term" class="label-agree-term"><span><span></span></span> Acepto todas las declaraciones en los <a href="#" class="term-service text-primary">Términos de servicio</a></label>
                                </div> -->
                                <!-- <div class="card-footer text-right">
                                    <button type="submit" class="btn btn-primary"> Crear cuenta </button>
                                </div> -->
                                <div class="card-footer text-right">
                                    <button type="submit" class="btn btn-primary"> Crear cuenta </button>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-6 ">
                            <figure><img src="../../../assets/images/new_account.png" alt="sing up image"></figure>
                            <a routerLink="/login" class="signup-image-link">Ya tengo con una cuenta</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
</div>
