	<!--Topbar-->
    <div class="header-main">
		<!-- Mobile Header -->
		<div class="horizontal-header clearfix ">
			<div class="container">
				<a id="horizontal-navtoggle" class="animated-arrow"><span></span></a>
				<span class="smllogo"><img src="../assets/images/logo-dish-top-movil.svg" width="60" alt=""/></span>
				<a href="tel:245-6325-3256" class="callusbtn"><i class="fa fa-phone" aria-hidden="true"></i></a>
			</div>
		</div>
		<!-- Mobile Header -->
		<div class="horizontal-main clearfix">
			<div class="horizontal-mainwrapper container clearfix">
				<div class="desktoplogo">
					<a href="index.html"><img src="../assets/images/logo-dish-top-movil.svg" alt="" width="80" class="logo-desktop"></a>
				</div>
				<!--Nav-->
				<nav class="horizontalMenu clearfix d-md-flex">
					<ul class="horizontalMenu-list">
						<li aria-haspopup="true"><a [routerLink]="['/home']">Home</a></li>
						<li aria-haspopup="true"><a [routerLink]="['/dashboard']">Tablero</a></li>

						<li aria-haspopup="true"><a [routerLink]="['/user']" >Usuarios</a></li>

						<!-- <li aria-haspopup="true"><a>Cuentas <span class="fa fa-caret-down m-0"></span></a>
							<ul class="sub-menu">
								<li aria-haspopup="true">
									<a [routerLink]="['/student']">Estudiantes </a>
								</li>
								<li aria-haspopup="true">
									<a [routerLink]="['/teacher']">Profesores </a>
								</li>
							</ul>
						</li> -->

						<li aria-haspopup="true"><a [routerLink]="['/course']">Cursos</a></li>

				
						<li aria-haspopup="true"><a>Configuración <span class="fa fa-caret-down m-0"></span></a>
							<ul class="sub-menu">
								<li aria-haspopup="true">
									<a [routerLink]="['/role']">Roles </a>
								</li>
								<li aria-haspopup="true">
									<a [routerLink]="['/functional-area']">Área funcional </a>
								</li>
								<li aria-haspopup="true">
									<a [routerLink]="['/type-course']">Tipos de curso </a>
								</li>
								<li aria-haspopup="true">
										<a [routerLink]="['/course-category']">Categorias de curso </a>
								</li>
							</ul>
						</li>
	
						<li aria-haspopup="true"><a [routerLink]="['/support']"> Soporte <span class="wsarrow"></span></a></li>

						<li aria-haspopup="true"><a class="btn btn-pink">Usuario <span class="fa fa-caret-down text-white m-0"></span></a>
							<ul class="sub-menu">
								<li aria-haspopup="true">
									<a [routerLink]="['/my-profile']">Mi perfil </a>
								</li>
								<li aria-haspopup="true">
									<a [routerLink]="['/logout']">Salir</a>
								</li>
								<!-- <li aria-haspopup="true">
									<a [routerLink]="['/type-course']">Tipos de curso </a>
								</li>
								<li aria-haspopup="true">
										<a [routerLink]="['/course-category']">Categorias de curso </a>
								</li> -->
							</ul>
						</li>

						<!-- <li aria-haspopup="true" class="d-lg-none mt-5 pb-5 mt-lg-0">
							<span><a class="btn btn-pink" href="ad-posts.html">Post Free Ad</a></span>
						</li> -->
					</ul>
					<!-- <ul class="mb-0">
						<li aria-haspopup="true" class="mt-5 d-none d-lg-block ">
							<span><a class="btn btn-pink" href="ad-posts.html">Post Free Ad</a></span>
						</li>
					</ul> -->
				</nav>
				<!--Nav-->
			</div>
		</div>
	</div>

