<app-header></app-header>
<section class="sptb">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 mx-auto">
          <div class="card box-shadow">
              <div class="card-header bg-primary">
                <h3 class="card-title text-white">Lista de roles</h3>
                <!-- <div class="card-options">
                  <a routerLink="/admin/new-role" class="btn btn-purple btn-sm">
                    <i class="fa fa-plus"></i>&nbsp;<strong>Nuevo rol</strong>
                  </a>
                </div> -->
              </div>
              <div class="card-body card-table text-left">
                <div class="table-responsive table-sm">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-search fa-fw"></i></span>
                    </div>
                    <input class="form-control input-sm bg-secondary" type="text" [(ngModel)]="searchFilter" placeholder="Busca área funcional">
                  </div>
                            <table class="table table-bordered table-striped table-sm border-top mb-0">
                              <thead>
                                <tr>
                                  <td>Rol de usuario</td>
                                  <td># usuarios</td>
                                  <td>Estatus</td>
                                  <td>
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                  </td>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor=" let r of Roles | filter:searchFilter | paginate: { itemsPerPage: 5, currentPage: p }; ">
                                  <td>{{ r.name }}</td>
                                  <td>0</td>
                                  <td><span [ngClass]="(r.status=='Active'?'tag tag-success':'tag')">{{ r.status }} </span></td>
                                  <td>
                                    <!-- <span class="options"><a (click)="openConfirmationDialog(r.uuid,r.name)"><i class="fa fa-trash"></i></a></span> -->
                                    <!-- <span class="options"><a [routerLink]="['/edit-role', r.uuid]"><i class="fa fa-pencil"></i></a></span> -->
                                    <span class="options"><a [routerLink]="['/details-role', r.uuid]"><i class="fa fa-folder-open"></i></a></span>
                                    <!-- <span class="options">
                                      <a (click)="disable(r.uuid)" *ngIf="r.status=='Active'">
                                        <i class="fa fa-arrow-down"></i>
                                      </a>
                                      <a (click)="enable(r.uuid)" *ngIf="r.status=='Inactive'">
                                        <i class="fa fa-arrow-up"></i>
                                      </a>
                                    </span>   -->
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <div class="text-right">
                            <pagination-controls 
                            (pageChange)="p = $event"
                            previousLabel="Anterior"
                            nextLabel="Siguiente"
                          >
                          </pagination-controls>
                        </div>
                      </div>
      </div>
    </div>
    
        </div>
</section>
