<app-header></app-header>
<section class="sptb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 mx-auto">
                    <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Nombre del curso</h3>
                            </div>
                            <div class="card-body p-6">
                                 <div class="tab_wrapper second_tab right_side">
                                    <ul class="tab_list">
                                        <li class="" rel="tab_1_1">Introducción</li>
                                        <li rel="tab_1_2" class="">Módulo 1</li>
                                        <li rel="tab_1_3" class="">Módulo 2</li>
                                        <li rel="tab_1_4" class="active">Modúlo 3</li>
                                    </ul>

                                    <div class="content_wrapper">
                                        <div title="tab_1_1" class="accordian_header tab_1_1">Home<span class="arrow"></span></div><div class="tab_content first tab_1_1" title="tab_1_1" style="display: none;">
                                            <p>Home page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like</p>
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web
                                                sites still in their infancy</p>
                                        </div>

                                        <div title="tab_1_2" class="accordian_header tab_1_2 undefined">About<span class="arrow"></span></div><div class="tab_content tab_1_2" title="tab_1_2" style="display: none;">
                                            <p>About page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like</p>
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web
                                                sites still in their infancy</p>
                                        </div>
                                        <div title="tab_1_3" class="accordian_header tab_1_3 undefined">Services<span class="arrow"></span></div><div class="tab_content tab_1_3" title="tab_1_3" style="display: none;">
                                            <p>Services</p>
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web
                                                sites still in their infancy</p>
                                        </div>
                                        <div title="tab_1_4" class="accordian_header tab_1_4 undefined active">Pages<span class="arrow"></span></div><div class="tab_content last tab_1_4 active" title="tab_1_4" style="display: block;">
                                            <p> Pages => page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like</p>
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web
                                                sites still in their infancy</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-6">
                                <div class="tab_wrapper second_tab right_side">
                                   <ul class="tab_list">
                                       <li class="" rel="tab_1_1">Introducción</li>
                                       <li rel="tab_1_2" class="">Módulo 1</li>
                                       <li rel="tab_1_3" class="">Módulo 2</li>
                                       <li rel="tab_1_4" class="active">Modúlo 3</li>
                                   </ul>

                                   <div class="content_wrapper">
                                       <div title="tab_1_1" class="accordian_header tab_1_1">Home<span class="arrow"></span></div><div class="tab_content first tab_1_1" title="tab_1_1" style="display: none;">
                                           <p>Home page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like</p>
                                           <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web
                                               sites still in their infancy</p>
                                       </div>

                                       <div title="tab_1_2" class="accordian_header tab_1_2 undefined">About<span class="arrow"></span></div><div class="tab_content tab_1_2" title="tab_1_2" style="display: none;">
                                           <p>About page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like</p>
                                           <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web
                                               sites still in their infancy</p>
                                       </div>
                                       <div title="tab_1_3" class="accordian_header tab_1_3 undefined">Services<span class="arrow"></span></div><div class="tab_content tab_1_3" title="tab_1_3" style="display: none;">
                                           <p>Services</p>
                                           <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web
                                               sites still in their infancy</p>
                                       </div>
                                       <div title="tab_1_4" class="accordian_header tab_1_4 undefined active">Pages<span class="arrow"></span></div><div class="tab_content last tab_1_4 active" title="tab_1_4" style="display: block;">
                                           <p> Pages => page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like</p>
                                           <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web
                                               sites still in their infancy</p>
                                       </div>
                                   </div>
                               </div>
                           </div>
                        </div>
            </div>
        </div>
    </div>
</section>
