	<!--Blogs-->
    <section class="sptb-2">
        <div class="container">
            <div class="section-title center-block text-center">
                <h1>Insignias logradas</h1>
                <p>Mauris ut cursus nunc. Morbi eleifend, ligula at consectetur vehicula</p>
            </div>
            <div id="defaultCarousel" class="owl-carousel card-owlcarousel owl-carousel-icons2">
                <div class="item text-center">
                    <div class="card">
                        <div class="card-body">
                            <span class=""><i class="fa fa-clock-o"></i> Used 4 mins Ago</span>
                            <div class="item-all-card card text-dark text-center overflow-hidden p-4 mb-3 mt-2">
                                <div class="ribbon ribbon-top-right text-danger"><span class="bg-danger">30%off</span></div>
                                <a href="#"></a>
                                <div class="iteam-all-icon text-center">
                                    <img src="../../../assets/images/photos/01.png" class="d-inline" alt="real estate">
                                </div>
                                <div class="item-all-text mt-3">
                                    <h5 class="text-danger">9 Offers</h5>
                                </div>
                                <a href="#" class="btn btn-white mt-2">See Sale</a>
                            </div>
                            <div class="coupon-code  mb-2">
                                <h4 class="coupon mb-0 p-2"><i class="fa fa-scissors mr-2"></i>562GFHD</h4>
                            </div>
                            <span class="">Today Users 34</span>
                        </div>
                    </div>
                </div>
                <div class="item text-center">
                    <div class="card">
                        <div class="card-body">
                            <span class=""><i class="fa fa-clock-o"></i> Used 5 mins Ago</span>
                            <div class="item-all-card card text-dark text-center overflow-hidden p-4 mb-3 mt-2">
                                <a href="#"></a>
                                <div class="iteam-all-icon text-center">
                                    <img src="../../../assets/images/photos/01.png" class="d-inline" alt="computer">
                                </div>
                                <div class="item-all-text mt-3">
                                    <h5 class="text-success">20% Cash back + Free Trip</h5>
                                </div>
                                <a href="#" class="btn btn-white mt-2">See Sale</a>
                            </div>
                            <div class="coupon-code  mb-2">
                                <h4 class="coupon mb-0 p-2"><i class="fa fa-scissors mr-2"></i>2DF63FC</h4>
                            </div>
                            <span class="">Today Users 353</span>
                        </div>
                    </div>
                </div>
                <div class="item text-center">
                    <div class="card">
                        <div class="card-body">
                            <span class=""><i class="fa fa-clock-o"></i> Used 10 mins Ago</span>
                            <div class="item-all-card card text-dark text-center overflow-hidden p-4 mb-3 mt-2">
                                <a href="#"></a>
                                <div class="iteam-all-icon text-center">
                                    <img src="../../../assets/images/photos/01.png" class="d-inline" alt="vehicle">
                                </div>
                                <div class="item-all-text mt-3">
                                    <h5 class="text-danger">42 Offers</h5>
                                </div>
                                <a href="#" class="btn btn-white mt-2">See Sale</a>
                            </div>
                            <div class="coupon-code  mb-2">
                                <h4 class="coupon mb-0 p-2"><i class="fa fa-scissors mr-2"></i>HD56DFG</h4>
                            </div>
                            <span class="">Today Users 235</span>
                        </div>
                    </div>
                </div>
                <div class="item text-center">
                    <div class="card">
                        <div class="card-body">
                            <span class=""><i class="fa fa-clock-o"></i> Used 50 mins Ago</span>
                            <div class="item-all-card card text-dark text-center overflow-hidden p-4 mb-3 mt-2">
                                <div class="ribbon ribbon-top-right text-danger"><span class="bg-danger">Offer</span></div>
                                <a href="#"></a>
                                <div class="iteam-all-icon text-center">
                                    <img src="../../../assets/images/photos/01.png" class="d-inline" alt="smart phone">
                                </div>
                                <div class="item-all-text mt-3">
                                    <h5 class="text-success">35% Cash back</h5>
                                </div>
                                <a href="#" class="btn btn-white mt-2">See Sale</a>
                            </div>
                            <div class="coupon-code  mb-2">
                                <h4 class="coupon mb-0 p-2"><i class="fa fa-scissors mr-2"></i>3563GHT</h4>
                            </div>
                            <span class="">Today Users 364</span>
                        </div>
                    </div>
                </div>
                <div class="item text-center">
                    <div class="card">
                        <div class="card-body">
                            <span class=""><i class="fa fa-clock-o"></i> Used 4 mins Ago</span>
                            <div class="item-all-card card text-dark text-center overflow-hidden p-4 mb-3 mt-2">
                                <div class="ribbon ribbon-top-right text-danger"><span class="bg-danger">30%off</span></div>
                                <a href="#"></a>
                                <div class="iteam-all-icon text-center">
                                    <img src="../../../assets/images/photos/01.png" class="d-inline" alt="real estate">
                                </div>
                                <div class="item-all-text mt-3">
                                    <h5 class="text-danger">9 Offers</h5>
                                </div>
                                <a href="#" class="btn btn-white mt-2">See Sale</a>
                            </div>
                            <div class="coupon-code  mb-2">
                                <h4 class="coupon mb-0 p-2"><i class="fa fa-scissors mr-2"></i>562GFHD</h4>
                            </div>
                            <span class="">Today Users 34</span>
                        </div>
                    </div>
                </div>
                <div class="item text-center">
                    <div class="card">
                        <div class="card-body">
                            <span class=""><i class="fa fa-clock-o"></i> Used 5 mins Ago</span>
                            <div class="item-all-card card text-dark text-center overflow-hidden p-4 mb-3 mt-2">
                                <a href="#"></a>
                                <div class="iteam-all-icon text-center">
                                    <img src="../../../assets/images/photos/01.png" class="d-inline" alt="computer">
                                </div>
                                <div class="item-all-text mt-3">
                                    <h5 class="text-success">20% Cash back + Free Trip</h5>
                                </div>
                                <a href="#" class="btn btn-white mt-2">See Sale</a>
                            </div>
                            <div class="coupon-code  mb-2">
                                <h4 class="coupon mb-0 p-2"><i class="fa fa-scissors mr-2"></i>2DF63FC</h4>
                            </div>
                            <span class="">Today Users 353</span>
                        </div>
                    </div>
                </div>
                <div class="item text-center">
                    <div class="card">
                        <div class="card-body">
                        <span class=""><i class="fa fa-clock-o"></i> Used 10 mins Ago</span>
                        <div class="item-all-card card text-dark text-center overflow-hidden p-4 mb-3 mt-2">
                            <a href="#"></a>
                            <div class="iteam-all-icon text-center">
                                <img src="../../../assets/images/photos/01.png" class="d-inline" alt="vehicle">
                            </div>
                            <div class="item-all-text mt-3">
                                <h5 class="text-danger">42 Offers</h5>
                            </div>
                            <a href="#" class="btn btn-white mt-2">See Sale</a>
                        </div>
                        <div class="coupon-code  mb-2">
                            <h4 class="coupon mb-0 p-2"><i class="fa fa-scissors mr-2"></i>HD56DFG</h4>
                        </div>
                        <span class="">Today Users 235</span>
                        </div>
                    </div>
                </div>
                <div class="item text-center">
                    <div class="card">
                        <div class="card-body">
                            <span class=""><i class="fa fa-clock-o"></i> Used 50 mins Ago</span>
                            <div class="item-all-card card text-dark text-center overflow-hidden p-4 mb-3 mt-2">
                                <div class="ribbon ribbon-top-right text-danger"><span class="bg-danger">Offer</span></div>
                                <a href="#"></a>
                                <div class="iteam-all-icon text-center">
                                    <img src="../../../assets/images/photos/01.png" class="d-inline" alt="smart phone">
                                </div>
                                <div class="item-all-text mt-3">
                                    <h5 class="text-success">35% Cash back</h5>
                                </div>
                                <a href="#" class="btn btn-white mt-2">See Sale</a>
                            </div>
                            <div class="coupon-code  mb-2">
                                <h4 class="coupon mb-0 p-2"><i class="fa fa-scissors mr-2"></i>3563GHT</h4>
                            </div>
                            <span class="">Today Users 364</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/Blogs-->
    <script>
    $('.owl-carousel').owlCarousel({
		loop:true,
		margin:10,
		responsiveClass:true,
		responsive:{
			0:{
				items:1,
				nav:true
			},
			600:{
				items:3,
				nav:false
			},
			1000:{
				items:5,
				nav:true,
				loop:false
			}
		}
    })
</script>
 