<div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Search box with Navigation</div>
                </div>
                <div class="">
                    <div class="header py-4">
                        <div class="container">
                            <div class="d-flex">
                                <a class="header-brand" href="documentation.html">
                                    <img src="../assets/images/brand/logo1.png" class="header-brand-img" alt="Pinlist logo">
                                </a>

                                <div>
                                    <form class="input-icon mt-2 ">
                                        <div class="input-icon-addon">
                                            <i class="fe fe-search"></i>
                                        </div>
                                        <input type="search" class="form-control header-search" placeholder="Search…">
                                    </form>
                                </div>
                                <div class="d-flex order-lg-2 ml-auto">
                                    <div class="dropdown d-none d-md-flex">
                                        <a class="nav-link icon full-screen-link">
                                            <i class="fe fe-maximize floating" id="fullscreen-button1"></i>
                                        </a>
                                    </div>
                                    <div class="dropdown d-none d-md-flex country-selector">
                                        <a href="#" class="d-flex nav-link  leading-none" data-toggle="dropdown">
                                            <img src="../assets/images/us_flag.jpg" alt="img" class="avatar avatar-xs mr-1 align-self-center">
                                            <div>
                                                <strong class="text-dark">English</strong>
                                            </div>
                                        </a>
                                        <div class="language-width dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a href="#" class="dropdown-item d-flex pb-3">
                                                <img src="../assets/images/french_flag.jpg" alt="flag-img" class="avatar  mr-3 align-self-center">
                                                <div>
                                                    <strong>French</strong>
                                                </div>
                                            </a>
                                            <a href="#" class="dropdown-item d-flex pb-3">
                                                <img src="../assets/images/germany_flag.jpg" alt="flag-img" class="avatar  mr-3 align-self-center">
                                                <div>
                                                    <strong>Germany</strong>
                                                </div>
                                            </a>
                                            <a href="#" class="dropdown-item d-flex pb-3">
                                                <img src="../assets/images/italy_flag.jpg" alt="flag-img" class="avatar  mr-3 align-self-center">
                                                <div>
                                                    <strong>Italy</strong>
                                                </div>
                                            </a>
                                            <a href="#" class="dropdown-item d-flex pb-3">
                                                <img src="../assets/images/russia_flag.jpg" alt="flag-img" class="avatar  mr-3 align-self-center">
                                                <div>
                                                    <strong>Russia</strong>
                                                </div>
                                            </a>
                                            <a href="#" class="dropdown-item d-flex pb-3">
                                                <img src="../assets/images/spain_flag.jpg" alt="flag-img" class="avatar  mr-3 align-self-center">
                                                <div>
                                                    <strong>Spain</strong>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="dropdown d-none d-md-flex">
                                        <a class="nav-link icon" data-toggle="dropdown">
                                            <i class="fa fa-bell-o floating"></i>
                                            <span class=" nav-unread badge badge-danger  badge-pill">4</span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a href="#" class="dropdown-item text-center">You have 4 notification</a>
                                            <div class="dropdown-divider"></div>
                                            <a href="#" class="dropdown-item d-flex pb-3">
                                                <div class="notifyimg">
                                                    <i class="fa fa-envelope-o"></i>
                                                </div>
                                                <div>
                                                    <strong>2 new Messages</strong>
                                                    <div class="small text-muted">17:50 Pm</div>
                                                </div>
                                            </a>
                                            <a href="#" class="dropdown-item d-flex pb-3">
                                                <div class="notifyimg">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <div>
                                                    <strong> 1 Event Soon</strong>
                                                    <div class="small text-muted">19-10-2019</div>
                                                </div>
                                            </a>
                                            <a href="#" class="dropdown-item d-flex pb-3">
                                                <div class="notifyimg">
                                                    <i class="fa fa-comment-o"></i>
                                                </div>
                                                <div>
                                                    <strong> 3 new Comments</strong>
                                                    <div class="small text-muted">05:34 Am</div>
                                                </div>
                                            </a>
                                            <a href="#" class="dropdown-item d-flex pb-3">
                                                <div class="notifyimg">
                                                    <i class="fa fa-exclamation-triangle"></i>
                                                </div>
                                                <div>
                                                    <strong> Application Error</strong>
                                                    <div class="small text-muted">13:45 Pm</div>
                                                </div>
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a href="#" class="dropdown-item text-center">See all Notification</a>
                                        </div>
                                    </div>
                                    <div class="dropdown d-none d-md-flex">
                                        <a class="nav-link icon" data-toggle="dropdown">
                                            <i class="fa fa-envelope-o floating"></i>
                                            <span class=" nav-unread badge badge-warning  badge-pill">3</span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a href="#" class="dropdown-item d-flex pb-3">
                                                <img class="avatar brround mr-3 align-self-center" src="../assets/images/faces/male/41.jpg" alt="avatar-img">
                                                <div>
                                                    <strong>Blake</strong> I've finished it! See you so.......
                                                    <div class="small text-muted">30 mins ago</div>
                                                </div>
                                            </a>
                                            <a href="#" class="dropdown-item d-flex pb-3">
                                                <img class="avatar brround mr-3 align-self-center" src="../assets/images/faces/female/1.jpg" alt="avatar-img">
                                                <div>
                                                    <strong>Caroline</strong> Just see the my Admin....
                                                    <div class="small text-muted">12 mins ago</div>
                                                </div>
                                            </a>
                                            <a href="#" class="dropdown-item d-flex pb-3">
                                                <img class="avatar brround mr-3 align-self-center" src="../assets/images/faces/male/18.jpg" alt="avatar-img">
                                                <div>
                                                    <strong>Jonathan</strong> Hi! I'am singer......
                                                    <div class="small text-muted">1 hour ago</div>
                                                </div>
                                            </a>
                                            <a href="#" class="dropdown-item d-flex pb-3">
                                                <img class="avatar brround mr-3 align-self-center" src="../assets/images/faces/female/18.jpg" alt="avatar-img">
                                                <div>
                                                    <strong>Emily</strong> Just a reminder that you have......
                                                    <div class="small text-muted">45 mins ago</div>
                                                </div>
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a href="#" class="dropdown-item text-center">View all Messages</a>
                                        </div>
                                    </div>
                                    <div class="dropdown d-none d-md-flex">
                                        <a class="nav-link icon" data-toggle="dropdown">
                                            <i class="fe fe-grid floating"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <ul class="drop-icon-wrap p-1">
                                                <li>
                                                    <a href="email.html" class="drop-icon-item">
                                                        <i class="fe fe-mail text-dark"></i>
                                                        <span class="block"> E-mail</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="calendar2.html" class="drop-icon-item">
                                                        <i class="fe fe-calendar text-dark"></i>
                                                        <span class="block">calendar</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="maps.html" class="drop-icon-item">
                                                        <i class="fe fe-map-pin text-dark"></i>
                                                        <span class="block">map</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="cart.html" class="drop-icon-item">
                                                        <i class="fe fe-shopping-cart text-dark"></i>
                                                        <span class="block">Cart</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="chat.html" class="drop-icon-item">
                                                        <i class="fe fe-message-square text-dark"></i>
                                                        <span class="block">chat</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="profile.html" class="drop-icon-item">
                                                        <i class="fe fe-phone-outgoing text-dark"></i>
                                                        <span class="block">contact</span>
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="dropdown-divider"></div>
                                            <a href="#" class="dropdown-item text-center">View all</a>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <a href="#" class="nav-link pr-0 leading-none user-img" data-toggle="dropdown" aria-expanded="false">
                                            <img class="avatar avatar-xs brround" src="../assets/images/faces/male/25.jpg" alt="avatar-img">
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(46px, 40px, 0px);">
                                            <a class="dropdown-item" href="#">
                                                <i class="dropdown-icon si si-user"></i> My Profile
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="dropdown-icon si si-envelope"></i> Inbox
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="dropdown-icon  si si-settings"></i> Account Settings
                                            </a>
                                            <a class="dropdown-item" href="login.html">
                                                <i class="dropdown-icon si si-power"></i> Log out
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse4">
                                        <span class="header-toggler-icon"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse1">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg order-lg-first">
                                    <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                                        <li class="nav-item">
                                            <a href="javascript:void(0)" class="nav-link " data-toggle="dropdown"><i class="fa fa-home"></i>DASHBOARD </a>
                                            <div class="dropdown-menu dropdown-menu-arrow">
                                                <a href="documentation.html" class="dropdown-item ">Dashboard 01</a>
                                                <a href="index2.html" class="dropdown-item ">Dashboard 02</a>
                                                <a href="index3.html" class="dropdown-item ">Dashboard 03</a>
                                                <a href="index4.html" class="dropdown-item ">Dashboard 04</a>
                                            </div>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a href="widgets.html" class="nav-link "><i class="fa fa-window-restore"></i> WIDGETS</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fa fa-snowflake-o"></i>UI DESIGN</a>
                                            <div class="dropdown-menu dropdown-menu-arrow mega-menu">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <a href="charts.html" class="dropdown-item ">Graph Charts</a>
                                                        <a href="chart-line.html" class="dropdown-item ">line Charts</a>
                                                        <a href="chart-donut.html" class="dropdown-item ">Donut Charts</a>
                                                        <a href="chart-pie.html" class="dropdown-item ">Pie Charts</a>
                                                        <a href="cards.html" class="dropdown-item ">Cards design</a>
                                                        <a href="maps.html" class="dropdown-item ">Maps</a>
                                                        <a href="sweetalert.html" class="dropdown-item ">Sweet alert</a>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <a href="time-line.html" class="dropdown-item ">Timeline</a>
                                                        <a href="chat.html" class="dropdown-item ">Default Chat</a>
                                                        <a href="counters.html" class="dropdown-item ">Counters</a>
                                                        <a href="loaders.html" class="dropdown-item ">Loaders</a>
                                                        <a href="notify.html" class="dropdown-item ">Notifications</a>
                                                        <a href="rangeslider.html" class="dropdown-item ">Range slider</a>
                                                        <a href="scroll.html" class="dropdown-item ">Content Scroll bar</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="nav-item">
                                            <a href="javascript:void(0)" class="nav-link active" data-toggle="dropdown"><i class="fa fa-pencil-square-o"></i>UI ElEMENTS</a>
                                            <div class="dropdown-menu dropdown-menu-arrow mega-menu">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <a href="alerts.html" class="dropdown-item ">Alerts</a>
                                                        <a href="buttons.html" class="dropdown-item ">Buttons</a>
                                                        <a href="colors.html" class="dropdown-item ">Colors</a>
                                                        <a href="chart.html" class="dropdown-item ">Sample Charts</a>
                                                        <a href="avatars.html" class="dropdown-item ">Avatars</a>
                                                        <a href="avatar-round.html" class="dropdown-item ">RoundAvatars</a>
                                                        <a href="avatar-radius.html" class="dropdown-item ">RadiusAvatars</a>
                                                        <a href="accordion.html" class="dropdown-item ">Accordion</a>
                                                        <a href="dropdown.html" class="dropdown-item ">Dropdown</a>
                                                        <a href="list.html" class="dropdown-item ">List</a>
                                                        <a href="tags.html" class="dropdown-item ">Tags</a>
                                                        <a href="pagination.html" class="dropdown-item ">Pagination</a>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <a href="modal.html" class="dropdown-item ">Modal</a>
                                                        <a href="navigation.html" class="dropdown-item ">Navigation</a>
                                                        <a href="progress.html" class="dropdown-item ">Progress</a>
                                                        <a href="typography.html" class="dropdown-item ">Typography</a>
                                                        <a href="tooltipandpopover.html" class="dropdown-item ">Tooltip &amp; Popover</a>
                                                        <a href="breadcrumbs.html" class="dropdown-item ">Breadcrumbs</a>
                                                        <a href="badge.html" class="dropdown-item ">Badges</a>
                                                        <a href="jumbotron.html" class="dropdown-item ">Jumbotron</a>
                                                        <a href="panels.html" class="dropdown-item ">Panel</a>
                                                        <a href="thumbnails.html" class="dropdown-item ">Thumbnails</a>
                                                        <a href="mediaobject.html" class="dropdown-item ">Mediaobject</a>
                                                        <a href="tabs.html" class="dropdown-item ">Tabs</a>

                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fa fa-newspaper-o"></i>PAGES</a>
                                            <div class="dropdown-menu dropdown-menu-arrow">
                                                <a href="profile.html" class="dropdown-item ">Profile</a>
                                                <a href="editprofile.html" class="dropdown-item ">Edit Profile</a>
                                                <a href="login.html" class="dropdown-item ">Login</a>
                                                <a href="register.html" class="dropdown-item ">Register</a>
                                                <a href="forgot-password.html" class="dropdown-item ">Forgot password</a>
                                                <a href="email.html" class="dropdown-item ">Email</a>
                                                <a href="emailservices.html" class="dropdown-item ">Email Inbox</a>
                                                <a href="empty.html" class="dropdown-item ">Empty page</a>
                                                <a href="construction.html" class="dropdown-item ">Under Construction</a>
                                                <a href="lockscreen.html" class="dropdown-item ">Lock screen</a>
                                                <a href="400.html" class="dropdown-item ">400 error</a>
                                                <a href="401.html" class="dropdown-item ">401 error</a>
                                                <a href="403.html" class="dropdown-item ">403 error</a>
                                                <a href="404.html" class="dropdown-item ">404 error</a>
                                                <a href="500.html" class="dropdown-item ">500 error</a>
                                                <a href="503.html" class="dropdown-item ">503 error</a>
                                            </div>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fa fa-file-text-o"></i>FORMS</a>
                                            <div class="dropdown-menu dropdown-menu-arrow">
                                                <a href="form-elements.html" class="dropdown-item ">Form Elements</a>
                                                <a href="form-wizard.html" class="dropdown-item ">form-wizard Elements</a>
                                                <a href="wysiwyag.html" class="dropdown-item ">Text Editor</a>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>