	<!--Coming Classes-->
    <section class="sptb bg-white">
			<div class="container">
				<div class="section-title center-block text-center">
					<h1>Mis Cursos</h1>
					<!-- <p>Mauris ut cursus nunc. Morbi eleifend, ligula at consectetur vehicula</p> -->
				</div>
				<div class="panel panel-primary">
					<div class="">
						<div class="tabs-menu ">
							<!-- Tabs -->
							<ul class="nav panel-tabs eductaional-tabs mb-6">
								<li class=""><a href="#index1" class="active show" data-toggle="tab">Todos</a></li>
								<li><a href="#index2" data-toggle="tab" class="">Técnicos</a></li>
								<li><a href="#index3" data-toggle="tab" class="">Habilidad</a></li>
								<li><a href="#index4" data-toggle="tab" class="">Generales</a></li>
							</ul>
						</div>
					</div>
					<div class="panel-body">
						<div class="tab-content">
							<div class="tab-pane active show" id="index1">
								<div class="row">
									<div class="col-xl-4 col-md-6">
										<div class="card overflow-hidden">
											<div class="ribbon ribbon-top-left text-danger"><span class="bg-danger">Free</span></div>
											<div class="item-card7-img">
												<div class="item-card7-imgs">
													<a href="education.html"></a>
													<img src="../assets/images/products/products/ed1.jpg" alt="img" class="cover-image">
												</div>
												<div class="item-card7-overlaytext">
													<a href="education.html" class="text-white"> Marketing</a>
													<h4  class="font-weight-semibold mb-0">$836</h4>
												</div>
											</div>
											<div class="card-body">
												<div class="item-card7-desc">
													<div class="item-card7-text">
														<a href="education.html" class="text-dark"><h4 class="font-weight-semibold">Free Online Class for Marketing</h4></a>
													</div>
													<ul class="d-flex">
														<li class=""><a href="#" class="icons"><i class="si si-location-pin text-muted mr-1"></i> USA</a></li>
														<li><a href="#" class="icons"><i class="si si-event text-muted mr-1"></i>1 min ago</a></li>
														<li class=""><a href="#" class="icons"><i class="si si-phone text-muted mr-1"></i> 14 675 65</a></li>
													</ul>
													<p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
												</div>
											</div>
											<div class="card-body">
												<a class="mr-4"><span class="font-weight-bold">Duration:</span> 6 Months</a>
												<a class="mr-4 float-right"><span class="font-weight-bold">Daily:</span> 2 Hours</a>
											</div>
											<div class="card-body">
												<a href="education.html" class="btn btn-white btn-block">Join Free</a>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-md-6">
										<div class="card overflow-hidden">
											<div class="power-ribbon power-ribbon-top-left text-warning"><span class="bg-warning"><i class="fa fa-bolt"></i></span></div>
											<div class="item-card7-img">
												<div class="item-card7-imgs">
													<a href="education.html"></a>
													<img src="../assets/images/products/products/ed3.jpg" alt="img" class="cover-image">
												</div>
												<div class="item-card7-overlaytext">
													<a href="education.html" class="text-white"> IT</a>
													<h4  class="font-weight-semibold mb-0">$635</h4>
												</div>
											</div>
											<div class="card-body">
												<div class="item-card7-desc">
													<div class="item-card7-text">
														<a href="education.html" class="text-dark"><h4 class="font-weight-semibold">PHP Development Classes</h4></a>
													</div>
													<ul class="d-flex">
														<li class=""><a href="#" class="icons"><i class="si si-location-pin text-muted mr-1"></i> London</a></li>
														<li><a href="#" class="icons"><i class="si si-event text-muted mr-1"></i>10 mins ago</a></li>
														<li class=""><a href="#" class="icons"><i class="si si-phone text-muted mr-1"></i> 14 675 65</a></li>
													</ul>
													<p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
												</div>
											</div>
											<div class="card-body">
												<a class="mr-4"><span class="font-weight-bold">Duration:</span> 9 Months</a>
												<a class="mr-4 float-right"><span class="font-weight-bold">Daily:</span> 1 Hour</a>
											</div>
											<div class="card-body">
												<a href="education.html" class="btn btn-white btn-block">Join Now</a>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-md-6">
										<div class="card overflow-hidden">
											<div class="power-ribbon power-ribbon-top-left text-warning"><span class="bg-warning"><i class="fa fa-bolt"></i></span></div>
											<div class="item-card7-img">
												<div class="item-card7-imgs">
													<a href="education.html"></a>
													<img src="../assets/images/products/products/ed2.jpg" alt="img" class="cover-image">
												</div>
												<div class="item-card7-overlaytext">
													<a href="education.html" class="text-white"> Degree</a>
													<h4  class="font-weight-semibold mb-0">$635</h4>
												</div>
											</div>
											<div class="card-body">
												<div class="item-card7-desc">
													<div class="item-card7-text">
														<a href="education.html" class="text-dark"><h4 class="font-weight-semibold">Certification Degree Classes</h4></a>
													</div>
													<ul class="d-flex">
														<li class=""><a href="#" class="icons"><i class="si si-location-pin text-muted mr-1"></i> London</a></li>
														<li><a href="#" class="icons"><i class="si si-event text-muted mr-1"></i>10 mins ago</a></li>
														<li class=""><a href="#" class="icons"><i class="si si-phone text-muted mr-1"></i> 14 675 65</a></li>
													</ul>
													<p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
												</div>
											</div>
											<div class="card-body">
												<a class="mr-4"><span class="font-weight-bold">Duration:</span> 3 Months</a>
												<a class="mr-4 float-right"><span class="font-weight-bold">Daily:</span> 3 Hour</a>
											</div>
											<div class="card-body">
												<a href="education.html" class="btn btn-white btn-block">Join Now</a>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-md-6">
										<div class="card overflow-hidden">
											<div class="ribbon ribbon-top-left text-danger"><span class="bg-danger">Free</span></div>
											<div class="item-card7-img">
												<div class="item-card7-imgs">
													<a href="education.html"></a>
													<img src="../assets/images/products/products/ed4.jpg" alt="img" class="cover-image">
												</div>
												<div class="item-card7-overlaytext">
													<a href="education.html" class="text-white"> Literature</a>
													<h4  class="font-weight-semibold mb-0">$83</h4>
												</div>
											</div>
											<div class="card-body">
												<div class="item-card7-desc">
													<div class="item-card7-text">
														<a href="education.html" class="text-dark"><h4 class="font-weight-semibold">Free Literature Classes</h4></a>
													</div>
													<ul class="d-flex">
														<li class=""><a href="#" class="icons"><i class="si si-location-pin text-muted mr-1"></i> USA</a></li>
														<li><a href="#" class="icons"><i class="si si-event text-muted mr-1"></i>1 hour ago</a></li>
														<li class=""><a href="#" class="icons"><i class="si si-phone text-muted mr-1"></i> 14 675 65</a></li>
													</ul>
													<p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
												</div>
											</div>
											<div class="card-body">
												<a class="mr-4"><span class="font-weight-bold">Duration:</span> 2 Months</a>
												<a class="mr-4 float-right"><span class="font-weight-bold">Daily:</span> 2 Hours</a>
											</div>
											<div class="card-body">
												<a href="education.html" class="btn btn-white btn-block">Join Free</a>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-md-6">
										<div class="card">
											<div class="item-card7-img">
												<div class="item-card7-imgs">
													<a href="education.html"></a>
													<img src="../assets/images/products/products/ed1.jpg" alt="img" class="cover-image">
												</div>
												<div class="item-card7-overlaytext">
													<a href="education.html" class="text-white">Law</a>
													<h4  class="font-weight-semibold mb-0">$89</h4>
												</div>
											</div>
											<div class="card-body">
												<div class="item-card7-desc">
													<div class="item-card7-text">
														<a href="education.html" class="text-dark"><h4 class="font-weight-semibold">Classes on Law Sections</h4></a>
													</div>
													<ul class="d-flex">
														<li class=""><a href="#" class="icons"><i class="si si-location-pin text-muted mr-1"></i>India</a></li>
														<li><a href="#" class="icons"><i class="si si-event text-muted mr-1"></i>15 mins ago</a></li>
														<li class=""><a href="#" class="icons"><i class="si si-phone text-muted mr-1"></i> 14 675 65</a></li>
													</ul>
													<p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
												</div>
											</div>
											<div class="card-body">
												<a class="mr-4"><span class="font-weight-bold">Duration:</span> 3 Months</a>
												<a class="mr-4 float-right"><span class="font-weight-bold">Daily:</span> 8 Hours</a>
											</div>
											<div class="card-body">
												<a href="education.html" class="btn btn-white btn-block">Join Now</a>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-md-6">
										<div class="card">
											<div class="item-card7-img">
												<div class="item-card7-imgs">
													<a href="education.html"></a>
													<img src="../assets/images/products/products/ed2.jpg" alt="img" class="cover-image">
												</div>
												<div class="item-card7-overlaytext">
													<a href="education.html" class="text-white">Science</a>
													<h4  class="font-weight-semibold mb-0">$836</h4>
												</div>
											</div>
											<div class="card-body">
												<div class="item-card7-desc">
													<div class="item-card7-text">
														<a href="education.html" class="text-dark"><h4 class="font-weight-semibold">Data Science classes</h4></a>
													</div>
													<ul class="d-flex">
														<li class=""><a href="#" class="icons"><i class="si si-location-pin text-muted mr-1"></i>Canada</a></li>
														<li><a href="#" class="icons"><i class="si si-event text-muted mr-1"></i>15 mins ago</a></li>
														<li class=""><a href="#" class="icons"><i class="si si-phone text-muted mr-1"></i> 14 675 65</a></li>
													</ul>
													<p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
												</div>
											</div>
											<div class="card-body">
												<a class="mr-4"><span class="font-weight-bold">Duration:</span> 6 Months</a>
												<a class="mr-4 float-right"><span class="font-weight-bold">Daily:</span> 3 Hours</a>
											</div>
											<div class="card-body">
												<a href="education.html" class="btn btn-white btn-block">Join Now</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="index2">
								<div class="row">
									<div class="col-xl-4 col-md-6">
										<div class="card overflow-hidden">
											<div class="power-ribbon power-ribbon-top-left text-warning"><span class="bg-warning"><i class="fa fa-bolt"></i></span></div>
											<div class="item-card7-img">
												<div class="item-card7-imgs">
													<a href="education.html"></a>
													<img src="../assets/images/products/products/ed2.jpg" alt="img" class="cover-image">
												</div>
												<div class="item-card7-overlaytext">
													<a href="education.html" class="text-white"> Degree</a>
													<h4  class="font-weight-semibold mb-0">$635</h4>
												</div>
											</div>
											<div class="card-body">
												<div class="item-card7-desc">
													<div class="item-card7-text">
														<a href="education.html" class="text-dark"><h4 class="font-weight-semibold">Certification Degree Classes</h4></a>
													</div>
													<ul class="d-flex">
														<li class=""><a href="#" class="icons"><i class="si si-location-pin text-muted mr-1"></i> London</a></li>
														<li><a href="#" class="icons"><i class="si si-event text-muted mr-1"></i>10 mins ago</a></li>
														<li class=""><a href="#" class="icons"><i class="si si-phone text-muted mr-1"></i> 14 675 65</a></li>
													</ul>
													<p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
												</div>
											</div>
											<div class="card-body">
												<a class="mr-4"><span class="font-weight-bold">Duration:</span> 3 Months</a>
												<a class="mr-4 float-right"><span class="font-weight-bold">Daily:</span> 3 Hour</a>
											</div>
											<div class="card-body" >
												<a href="education.html" class="btn btn-white btn-block">Join Now</a>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-md-6">
										<div class="card overflow-hidden">
											<div class="ribbon ribbon-top-left text-danger"><span class="bg-danger">Free</span></div>
											<div class="item-card7-img">
												<div class="item-card7-imgs">
													<a href="education.html"></a>
													<img src="../assets/images/products/products/ed4.jpg" alt="img" class="cover-image">
												</div>
												<div class="item-card7-overlaytext">
													<a href="education.html" class="text-white"> Literature</a>
													<h4  class="font-weight-semibold mb-0">$83</h4>
												</div>
											</div>
											<div class="card-body">
												<div class="item-card7-desc">
													<div class="item-card7-text">
														<a href="education.html" class="text-dark"><h4 class="font-weight-semibold">Free Literature Classes</h4></a>
													</div>
													<ul class="d-flex">
														<li class=""><a href="#" class="icons"><i class="si si-location-pin text-muted mr-1"></i> USA</a></li>
														<li><a href="#" class="icons"><i class="si si-event text-muted mr-1"></i>1 hour ago</a></li>
														<li class=""><a href="#" class="icons"><i class="si si-phone text-muted mr-1"></i> 14 675 65</a></li>
													</ul>
													<p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
												</div>
											</div>
											<div class="card-body">
												<a class="mr-4"><span class="font-weight-bold">Duration:</span> 2 Months</a>
												<a class="mr-4 float-right"><span class="font-weight-bold">Daily:</span> 2 Hours</a>
											</div>
											<div class="card-body">
												<a href="education.html" class="btn btn-white btn-block">Join Free</a>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-md-6">
										<div class="card">
											<div class="item-card7-img">
												<div class="item-card7-imgs">
													<a href="education.html"></a>
													<img src="../assets/images/products/products/ed1.jpg" alt="img" class="cover-image">
												</div>
												<div class="item-card7-overlaytext">
													<a href="education.html" class="text-white">Law</a>
													<h4  class="font-weight-semibold mb-0">$89</h4>
												</div>
											</div>
											<div class="card-body">
												<div class="item-card7-desc">
													<div class="item-card7-text">
														<a href="education.html" class="text-dark"><h4 class="font-weight-semibold">Classes on Law Sections</h4></a>
													</div>
													<ul class="d-flex">
														<li class=""><a href="#" class="icons"><i class="si si-location-pin text-muted mr-1"></i>India</a></li>
														<li><a href="#" class="icons"><i class="si si-event text-muted mr-1"></i>15 mins ago</a></li>
														<li class=""><a href="#" class="icons"><i class="si si-phone text-muted mr-1"></i> 14 675 65</a></li>
													</ul>
													<p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>

												</div>
											</div>
											<div class="card-body">
												<a class="mr-4"><span class="font-weight-bold">Duration:</span> 3 Months</a>
												<a class="mr-4 float-right"><span class="font-weight-bold">Daily:</span> 8 Hours</a>
											</div>
											<div class="card-body">
												<a href="education.html" class="btn btn-white btn-block">Join Now</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="index3">
								<div class="row">
									<div class="col-xl-4 col-md-6">
										<div class="card overflow-hidden">
											<div class="ribbon ribbon-top-left text-danger"><span class="bg-danger">Free</span></div>
											<div class="item-card7-img">
												<div class="item-card7-imgs">
													<a href="education.html"></a>
													<img src="../assets/images/products/products/ed1.jpg" alt="img" class="cover-image">
												</div>
												<div class="item-card7-overlaytext">
													<a href="education.html" class="text-white"> Marketing</a>
													<h4  class="font-weight-semibold mb-0">$836</h4>
												</div>
											</div>
											<div class="card-body">
												<div class="item-card7-desc">
													<div class="item-card7-text">
														<a href="education.html" class="text-dark"><h4 class="font-weight-semibold">Free Online Class for Marketing</h4></a>
													</div>
													<ul class="d-flex">
														<li class=""><a href="#" class="icons"><i class="si si-location-pin text-muted mr-1"></i> USA</a></li>
														<li><a href="#" class="icons"><i class="si si-event text-muted mr-1"></i>1 min ago</a></li>
														<li class=""><a href="#" class="icons"><i class="si si-phone text-muted mr-1"></i> 14 675 65</a></li>
													</ul>
													<p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>

												</div>
											</div>
											<div class="card-body">
												<a class="mr-4"><span class="font-weight-bold">Duration:</span> 6 Months</a>
												<a class="mr-4 float-right"><span class="font-weight-bold">Daily:</span> 2 Hours</a>
											</div>
											<div class="card-body">
												<a href="education.html" class="btn btn-white btn-block">Join Free</a>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-md-6">
										<div class="card overflow-hidden">
											<div class="power-ribbon power-ribbon-top-left text-warning"><span class="bg-warning"><i class="fa fa-bolt"></i></span></div>
											<div class="item-card7-img">
												<div class="item-card7-imgs">
													<a href="education.html"></a>
													<img src="../assets/images/products/products/ed3.jpg" alt="img" class="cover-image">
												</div>
												<div class="item-card7-overlaytext">
													<a href="education.html" class="text-white"> IT</a>
													<h4  class="font-weight-semibold mb-0">$635</h4>
												</div>
											</div>
											<div class="card-body">
												<div class="item-card7-desc">
													<div class="item-card7-text">
														<a href="education.html" class="text-dark"><h4 class="font-weight-semibold">PHP Development Classes</h4></a>
													</div>
													<ul class="d-flex">
														<li class=""><a href="#" class="icons"><i class="si si-location-pin text-muted mr-1"></i> London</a></li>
														<li><a href="#" class="icons"><i class="si si-event text-muted mr-1"></i>10 mins ago</a></li>
														<li class=""><a href="#" class="icons"><i class="si si-phone text-muted mr-1"></i> 14 675 65</a></li>
													</ul>
													<p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
												</div>
											</div>
											<div class="card-body">
												<a class="mr-4"><span class="font-weight-bold">Duration:</span> 9 Months</a>
												<a class="mr-4 float-right"><span class="font-weight-bold">Daily:</span> 1 Hour</a>
											</div>
											<div class="card-body">
												<a href="education.html" class="btn btn-white btn-block">Join Now</a>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-md-6">
										<div class="card">
											<div class="item-card7-img">
												<div class="item-card7-imgs">
													<a href="education.html"></a>
													<img src="../assets/images/products/products/ed2.jpg" alt="img" class="cover-image">
												</div>
												<div class="item-card7-overlaytext">
													<a href="education.html" class="text-white">Science</a>
													<h4  class="font-weight-semibold mb-0">$836</h4>
												</div>
											</div>
											<div class="card-body">
												<div class="item-card7-desc">
													<div class="item-card7-text">
														<a href="education.html" class="text-dark"><h4 class="font-weight-semibold">Data Science classes</h4></a>
													</div>
													<ul class="d-flex">
														<li class=""><a href="#" class="icons"><i class="si si-location-pin text-muted mr-1"></i>Canada</a></li>
														<li><a href="#" class="icons"><i class="si si-event text-muted mr-1"></i>15 mins ago</a></li>
														<li class=""><a href="#" class="icons"><i class="si si-phone text-muted mr-1"></i> 14 675 65</a></li>
													</ul>
													<p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
												</div>
											</div>
											<div class="card-body">
												<a class="mr-4"><span class="font-weight-bold">Duration:</span> 6 Months</a>
												<a class="mr-4 float-right"><span class="font-weight-bold">Daily:</span> 3 Hours</a>
											</div>
											<div class="card-body">
												<a href="education.html" class="btn btn-white btn-block">Join Now</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="index4">
								<div class="row">
									<div class="col-xl-4 col-md-6">
										<div class="card overflow-hidden">
											<div class="power-ribbon power-ribbon-top-left text-warning"><span class="bg-warning"><i class="fa fa-bolt"></i></span></div>
											<div class="item-card7-img">
												<div class="item-card7-imgs">
													<a href="education.html"></a>
													<img src="../assets/images/products/products/ed2.jpg" alt="img" class="cover-image">
												</div>
												<div class="item-card7-overlaytext">
													<a href="education.html" class="text-white"> IT</a>
													<h4  class="font-weight-semibold mb-0">$63</h4>
												</div>
											</div>
											<div class="card-body">
												<div class="item-card7-desc">
													<div class="item-card7-text">
														<a href="education.html" class="text-dark"><h4 class="font-weight-semibold">On-line PHP Classes</h4></a>
													</div>
													<ul class="d-flex">
														<li class=""><a href="#" class="icons"><i class="si si-location-pin text-muted mr-1"></i> London</a></li>
														<li><a href="#" class="icons"><i class="si si-event text-muted mr-1"></i>10 mins ago</a></li>
														<li class=""><a href="#" class="icons"><i class="si si-phone text-muted mr-1"></i> 14 675 65</a></li>
													</ul>
													<p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>

												</div>
											</div>
											<div class="card-body">
												<a class="mr-4"><span class="font-weight-bold">Duration:</span> 3 Months</a>
												<a class="mr-4 float-right"><span class="font-weight-bold">Daily:</span> 3 Hour</a>
											</div>
											<div class="card-body">
												<a href="education.html" class="btn btn-white btn-block">Join Now</a>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="text-center">
						<a href="" class="btn btn-primary btn-pill"> View More</a>
					</div>
				</div>
			</div>
		</section>
		<!--/Coming Classes-->