<section class="sptb">
        <div class="container">
<div class="row item-all-cat">
        <div class="col-xl-3 col-md-6">
            <div class="item-all-card bg-purple text-center box-shadow">
                <a href="#"></a>
                <div class="iteam-all-icon">
                    <!-- <img src="../assets/images/svgs/domain.svg" alt="email" class="w-20"> -->
                    <i class="fa fa-graduation-cap fa-3x" ></i>
                </div>
                <div class="item-all-text mt-3">
                    <p> # Cursos </p>
                    <h1 class="mb-0 counter">10</h1>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="item-all-card bg-primary text-center box-shadow">
                <a href="#"></a>
                <div class="iteam-all-icon">
                    <!-- <img src="../assets/images/svgs/profits.svg" alt="email" class="w-20"> -->
                    <i class="fa fa-graduation-cap fa-3x" aria-hidden="true"></i>

                </div>
                <div class="item-all-text mt-3">
                    <p># Cursos completados</p>
                    <h1 class="mb-0 counter">6</h1>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="item-all-card bg-primary text-center box-shadow">
                <a href="#"></a>
                <div class="iteam-all-icon">
                    <!-- <img src="../assets/images/svgs/1.svg" class="w-20"> -->
                    <i class="fa fa-percent fa-3x" aria-hidden="true"></i>

                </div>
                <div class="item-all-text mt-3">
                    <p>Clalificación promedio</p>
                    <h1 class="mb-0 counter">9.6</h1>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="item-all-card bg-primary text-center box-shadow">
                <a href="#"></a>
                <div class="iteam-all-icon">
                    <!-- <img src="../assets/images/svgs/jobs/medal.svg" alt="email" class="w-20"> -->
                    <i class="fa fa-trophy fa-3x" aria-hidden="true"></i>

                </div>
                <div class="item-all-text mt-3">
                    <p> # Insignias obtenidas</p>
                    <h1 class="mb-0 counter">5</h1>
                </div>
            </div>
        </div>

        
    </div>
            </div>
</section>