<app-header></app-header>
<section class="sptb">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="card mb-0 box-shadow">
                    <!-- title -->
                    <div class="card-header  bg-primary"> 
                        <h3 class="card-title text-white">Nueva categoría de curso</h3>
                        <div class="card-options">
                        <a routerLink="/admin/course-category"><i class="fe fe-x btn btn-sm btn-purple"></i></a>
                        </div>
                    </div>
                    <!-- end title -->
                    <!-- from -->
                    <form [formGroup]="templateForm" (ngSubmit)="onSubmit()" class="form-horizontal">
                    <div class="card-body">
                        <div class="form-group text-left ">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="form-label">Nombre</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" formControlName="name" 
                                    class="form-control input-sm capitalize" 
                                    [ngClass]="{'is-invalid': submitted && f.name.errors }"
                                    placeholder="Nombre">
                                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                        <div *ngIf="f.name.errors.required">Este campo es obligatorio.</div>
                                        <div *ngIf="f.name.errors.minlength">Se requiere como mínimo 5 caracteres.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-left">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="form-label">Descripción</label>
                                </div>
                                <div class="col-md-6">
                                    <textarea formControlName="description" 
                                        class="form-control" rows="10" cols="50"
                                        placeholder="Describe las funcionalidades del rol">
                                    </textarea> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <button type="submit" class="btn btn-primary"> Guardar registro </button>
                    </div>
                    </form>
                        <!-- end form -->
                </div>
            </div>
        </div>
    </div>
</section>
